.App {
  text-align: center;
}

.levels-li {
  padding-top: 15px;
}

.list-style-none {
  list-style: none;
}

.justify-content-space-between {
  justify-content: space-between;
}

.color-white {
  color:aliceblue;
}

.text-decoration-none {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
}

.grid-medium {
  display: grid;
  grid-template-columns: repeat(5, 150px);
}

.grid-hard {
  display: grid;
  grid-template-columns: repeat(6, 150px);
}

.square,
.square-no-hover {
  margin: 15px;
  border: #28488a solid 1px;
  border-radius: 8px;
  height: 115px;
}

.square-covered {
  background-image: url(./components/resources/images/cover.jpg);
}

.solved {
  opacity: 0.5;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.score-window {
  padding-top: 5rem;
  border: #61dafb solid 1px;
  background-color: rgba(214, 228, 233, 0.9);
  color: #282c34;
  border-radius: 25px;
  width: 85vw;
  height: 85vh;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 2;
}

.play-again-button,
.main-menu {
  background-color: black;
  color: #61dafb;
  border: none;
  border-radius: 6px;
  line-height: 2rem;
  width: 15rem;
  font-size: large;
  margin-top: 2rem;
  opacity: 1;
}

.play-again-button:hover,
.main-menu:hover {
  color: black;
  background-color: #61dafb;
}

.square-a-background,
.square-a1-background {
  background-image: url(./components//resources/images/a.jpeg);
}

.square-b-background,
.square-b1-background {
  background-image: url(./components//resources/images/b.png);
}

.square-c-background,
.square-c1-background {
  background-image: url(./components//resources/images/c.jpg);
}

.square-d-background,
.square-d1-background {
  background-image: url(./components//resources/images/d.png);
}

.square-e-background,
.square-e1-background {
  background-image: url(./components//resources/images/e.png);
}

.square-f-background,
.square-f1-background {
  background-image: url(./components//resources/images/f.png);
}

.square-g-background,
.square-g1-background {
  background-image: url(./components//resources/images/g.jpg);
}
.square-h-background,
.square-h1-background {
  background-image: url(./components//resources/images/h.jpeg);
}

.square-j-background,
.square-j1-background {
  background-image: url(./components//resources/images/j.jpeg);
}

.square-k-background,
.square-k1-background {
  background-image: url(./components//resources/images/k.png);
}

.square-l-background,
.square-l1-background {
  background-image: url(./components//resources/images/l.png);
}

.square-m-background,
.square-m1-background {
  background-image: url(./components//resources/images/m.jpg);
}

.square-n-background,
.square-n1-background {
  background-image: url(./components//resources/images/n.jpg);
}

.square-o-background,
.square-o1-background {
  background-image: url(./components//resources/images/o.png);
}

.square-p-background,
.square-p1-background {
  background-image: url(./components//resources/images/p.png);
}

.square:hover {
  border: white solid 1px;
}

.margin-auto {
  margin: auto;
}

.text-align-center {
  text-align: center;
}

.levels {
  color: greenyellow;
}

.levels:hover {
  color: white;
  font-weight: bold;
}

.cursor-pointer {
 cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
